.product-details-full {
	@extend .container;
}

.product-details-full-content {

	margin-top: $sc-margin-lv5;

	@media (min-width: $screen-md-min) {
		margin-top: 60px;
	}
}

.product-details-full-main {
	.product-views-price-lead {
		@extend .large-price;
		color: $sc-color-primary;
	}
	.product-views-price-old {
		font-size: $sc-font-size-m;
	}
}

.product-details-full-divider {

	margin: $sc-margin-lv5 0;
	height: 1px;
	background-color: $sc-color-theme-300;
	clear: both;

	@media (min-width: $screen-md-min) {
		display: none;
	}
}
.product-details-book-info {
	@extend .row;
	//max-width: 350px;
}
.product-details-book-info-left {
	@extend .col-xs-6
}
.product-details-book-info-right {
	@extend .col-xs-6
}
.product-details-book-info-block {
	margin-bottom: 20px;
}
.product-details-included-with-purchase {
	margin: 30px 0;
	//padding: 30px;
	//background: #f1f1f1;
	font-weight: 400;
	font-size: .9em;
	line-height: 1.4;
	padding-top: 20px;
	border-top: 2px solid $sc-color-secondary;
	max-width: 270px;
}
/*.product-details-included-with-purchase {
	margin: 30px 0;

	p {
		color: $sc-color-secondary;
		font-style: italic;
	}
}*/

.product-details-included-with-purchase-top {
	display: flex;
	padding: 0 0 15px 0;
	//border-top: 2px solid $sc-color-secondary;
	align-items: center;

  	b {
		text-transform: uppercase;
		line-height: 1.2em;
		margin: 0 0 0 20px;
		color: #143d8d;
	}
	img {
		max-height: 30px;
	}
}
.product-details-add-to-cart {
	display: flex;
}

.product-details-full-divider-desktop {
	display: none;
	@extend .product-details-full-divider;
	@media (min-width: $screen-md-min) {
		margin-top: 20px;
		border: none;
		display: block;
	}
}
.item-relations p {
	font-weight: 400;
}

.product-details-full-main-content {
	@extend .row;
}
.newer-edition-link {
	background: #4D84C4;
	color: white;
	font-weight: 500;
	padding: 5px 15px;
	display: inline-block;
	margin: 0 90px 20px 0;
}

.sca-faculty-link {
	padding: 8px 15px;
	border: 1px solid;
	margin-top: 10px;
	font-weight: 500;
	color: #ffffff;
	font-style: italic;
	min-width: 100px;
	background: #4472c4;
	vertical-align:middle;
    text-align:center;
}

.product-details-full-content-header {
	.global-views-star-rating-empty, .global-views-star-rating-filled {
		font-size: 20px;
	}
	float:none;

	@extend .col-md-9;

	@media (min-width: $screen-lg-min) {
		float:right;
		width: calc(100% - 435px);
	}
}

.product-details-full-rating {
	margin-top: $sc-margin-lv1;
	margin-bottom: $sc-margin-lv4;

	.global-views-star-rating {
		float: none;
	}
}

.product-details-full-image-gallery-container{
	margin-bottom: 0;
	width:100%;
	max-width: 400px;

	@media (min-width: $screen-md-min) {
		margin-bottom: $sc-margin-lv4;
	}
}
.product-details-full-main-description-container {
	margin-bottom: 30px;
	margin-top: 30px;

	h3{
		text-transform: uppercase;
		margin: 0 0 20px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 50px;
		margin-top: 50px;

		h3 {
			font-size: 20px;
		}
	}
}

.product-details-full-gallery-prev-icon, .product-details-full-gallery-next-icon{
	position: absolute;
	top: 40%;
	width: $sc-target-size-mobile;
	height: $sc-target-size-mobile;
	font-size: 50px;
	color:#c5d7e0;
	text-align: center;
	line-height: 0.8;
	@extend .fa;
}
.product-details-full-gallery-prev-icon:focus, .product-details-full-gallery-next-icon:focus {
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.product-details-full-gallery-prev-icon{
	left: 30px;
	@extend %fa-angle-left;
}

.product-details-full-gallery-next-icon{
	right:10px;
	@extend %fa-angle-right;
}

.product-details-full-carousel-next{
	@extend .button-tertiary;
	@extend .button-small;
	margin-left:$sc-margin-lv2;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	right:0px;
	top:50%;
}

.product-details-full-carousel-prev{
	@extend .button-tertiary;
	@extend .button-small;
	cursor:pointer;
	cursor:hand;
	position:absolute;
	left:0px;
	top:50%;
}
.product-details-full-carousel-next.disabled,
.product-details-full-carousel-prev.disabled {
	display: none;
}
.control-text{
	display:none;
}

.product-details-full-content-header-title {

	@media (max-width: $screen-xs-max){
		font-size: 1.1rem;
		margin-bottom: 40px;
		font-weight: 500;
		line-height: 1.4em;
	}
	font-size: 1.4rem;
	margin-bottom: 40px;

}

.product-details-full-price {
	margin-top:$sc-margin-lv2;
}

.product-details-full-price .item-views-price-lead {
	@extend .large-price;
}

.product-details-full-sku-container {
	margin-top: $sc-margin-lv6;
	margin-bottom: $sc-margin-lv1;
}

.product-details-full-actions {
	margin-bottom: $sc-margin-lv2;
	clear: both;
	width: 230px;
}

.product-details-full-add-to-cart-help{
	@extend .message-info;
	margin-top: $sc-margin-lv3;
}

.product-details-full-add-to-cart-help-icon{
	@extend .fa;
	@extend %fa-info-circle;
	margin-right: $sc-margin-lv1;
}

.product-details-full-actions-container {

}

.product-details-full-add-to-wishlist {
	@extend .col-sm-6;
	position: static;
	padding-left: $sc-padding-lv2;
	padding-right: $sc-padding-lv2;
}



.product-details-full-social-share {
	// @extend .message-box;
	// @extend .message-box-info;
	margin-bottom:$sc-margin-lv4;
}

.product-details-full-price-message {
    @extend .message;
 }

.product-details-full-price-msg-description {
	@extend .message-info;
	margin-top: $sc-margin-lv2;
    margin-bottom: $sc-margin-lv2;
}

.product-details-full-price-login-to-see-price {
	font-weight: normal;
}


@media (min-width: $screen-md-min) {

	.product-details-full-image-gallery-container {
		float: left;
	}
}

.pdp-item-more-info-content {
	background: $sc-color-theme-background;

	@media (min-width: $screen-sm-min) {
		background: transparent;
		overflow: auto;
	}
}

.product-details-full-action {
	display: none;

	@media (min-width: $screen-sm-min){
		display: block;
	}
}
.product-details-full-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

.product-details-full-rating-header {
	.global-views-star-rating-area {
		margin-right: $sc-margin-lv1;
	}
	.global-views-star-rating i {
		font-size: 20px;
	}
}


.product-details-full-main-content-left {
	@extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-3;
	float:left;
	min-height:1px;
	display: flex;
	justify-content: center;

	@media (min-width: $screen-lg-min){
		width: 350px;
	}

}
.product-details-full-main-content-side {
	float: left;
	max-width: 400px;
	padding: 0 15px;
	@extend .col-xs-12;
	@extend .col-md-3;

	@media (min-width: $screen-lg-min){
		width: calc(100% - 1050px);
	}
	p {
		margin-bottom: 15px;
	}
}

.product-details-full-main-content-right {
	@extend .col-xs-12;
	@extend .col-sm-6;
	min-height:1px;

	@media (min-width: $screen-md-min){
		padding-left: 100px;
		padding-right: 100px;
		max-width: 800px;
	}


}

.product-details-full-actions-addtowishlist,
.product-details-full-actions-addtoquote {
	@extend .col-sm-6;
}


