.order-wizard-confirmation-module {
	display: block;
	padding: 35px;
	background: #ecf1f4;
	border-radius: $sc-border-radius;
	margin-bottom: $sc-margin-lv6;
}
.order-wizard-confirmation-module-title {
	margin: 0 0 10px;
}
.order-wizard-confirmation-module-body {
	a {
		color: #000;
		text-decoration: underline;

		&:hover {
			color: #000
		}
	}
}
.order-wizard-confirmation-module-continue {
	@extend .button-large;
	@extend .button-secondary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
	margin-right: $sc-margin-lv4;
}

.order-wizard-confirmation-module-download-pdf {
	@extend .button-large;
	@extend .button-tertiary;
	display:inline-block;
	margin-top: $sc-margin-lv3;
}